<!DOCTYPE html>

{% load static %}
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}" media="screen">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
        {% block title %}
        {% endblock %}
    </head>
    <body>
        <div class="button-logout" style="width:100%; height:100px;">
            <a href="/accounts/logout" class="btn btn-danger float-sm-right btn-lg" style="margin:15px;">Logout</a>
        </div>
        <!-- main area -->
        {% block main_area %}
        {% endblock %}
        <!-- footer -->
        {% include 'todo_lists/footer.html' %}
        <script type="text/javascript">
        </script>
    </body>
</html>