{% extends 'todo_lists/base.html' %}

{% load static %}

{% block title %}
    <title>Todo Lists</title>
{% endblock %}

{% block main_area %}
    <div class="wrapper">
        <div class="header">
            <div class="todo-date">
                {{ date }}
            </div>
        </div>
        <div class="button-wrapper">
            <a href="/todolist/create" class="button-create" role="button">Create</a>
        </div>
        {% if todo_list.count != 0 %}
            <div class="list-wrapper">
                {% for todo in todo_list %}
                <div class="todo-wrapper">
                    <div class="todo-title">
                        {{ todo.title }}
                        <a href="{{ todo.get_absolute_url }}" class="btn btn-link text-right" role="button">Detail</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}