{% extends 'todo_lists/base.html' %}

{% block title %}
    <title> Todo - {{ todo.pk }}</title>
{% endblock %}

{% block main_area %}
    <div class="wrapper">
        <div class="header">
            <div class="todo-date">
                {{ todo.date }}
            </div>
        </div>
        <div class="todo-wrapper">
            <div class="todo-title">
                <h3 class="card-title" style="margin-top: 10px;">{{ todo.title }}</h3>
            </div>
            <div class="todo-text">
                {{ todo.get_content_markdown | safe }}
            </div>
            <div class="todo-author">
                {{ todo.author }}
            </div>
            <div class="btn-group" role="group" style="margin-bottom: 10px">
                <a type="button" class="btn btn-secondary" href="/todolist/detail/update/{{ todo.pk }}"> 수정 </a>
                <a type="button" class="btn btn-danger" href="/todolist/detail/delete/{{ todo.pk }}"> 삭제 </a>
            </div>
        </div>
    </div>
{% endblock %}