{% extends 'todo_lists/base.html' %}

{% load static %}

{% block title %}
    <title>Todo Lists</title>
{% endblock %}

{% block main_area %}
    <div class="wrapper">
        <div class="header">
            <div class="todo-date">
                {{ date }}
            </div>
        </div>
        <div class="btn-group" role="group" style="margin-bottom: 10px">
            <a href="/todolist/create" type="button" class="btn btn-primary btn-group-vertical rounded-lg" role="button" style="margin-right: 3px; background-color: #9fcdff; border-color: white;">Create</a>
            <a href="/" type="button" class="btn btn-primary btn-group-vertical rounded-lg" role="button" style="background-color: #9fcdff; border-color: white;">Main</a>
        </div>
        {% if todo_list.count != 0 %}
            <div class="list-wrapper">
                {% for todo in todo_list %}
                <div class="todo-wrapper">
                    <div class="todo-title">
                        {{ todo.title }}
                        <a href="{{ todo.get_absolute_url }}" class="btn btn-link text-right" role="button">Detail</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}